# Ignore file types


*.tsv

*.csv

*.pdf

*.txt

!data/raw/MovieDialogCorpus/README.txt

.ipynb_checkpoints

moviescripts_env
# Testing

Tests
jupyter_for_experiments/Final_starwars_bert.ipynb
jupyter_for_experiments/train_bert.ipynb
jupyter_for_experiments/starwars_bert.ipynb
jupyter_for_experiments/dict_of_words.pickle
local-pt-checkpoint/

# macOS

.DS_Store

# API key
.env
enviroment.sh

# vocab

*.bin
*.gz
*.part

# saved model
jupyter_for_experiments/saved_model
jupyter_for_experiments/saved_model.pt

# models
 *.pt


# chache
__pycache__/
# .dvc/

# Data
/saved
/data/raw
/data/processed
