# Ignore file types


*.tsv

*.csv

*.pdf

*.txt

!data/raw/MovieDialogCorpus/README.txt

.ipynb_checkpoints

moviescripts_env
# Testing

Tests

# macOS

.DS_Store


# vocab

*.bin
*.gz

# saved model
jupyter_for_experiments/saved_model
jupyter_for_experiments/saved_model.pt

# models
 *.pt


# chache
__pycache__/


# Data
/saved