# Ignore file types


*.tsv

*.csv

*.pdf

*.txt

!data/raw/MovieDialogCorpus/README.txt

.ipynb_checkpoints

moviescripts_env
# Testing

Tests

# macOS

.DS_Store

# API key
enviroment.sh

# vocab

*.bin
*.gz
*.part

# saved model
jupyter_for_experiments/saved_model
jupyter_for_experiments/saved_model.pt

# models
 *.pt


# chache
__pycache__/
# .dvc/

# Data
/saved
/data/raw
/data/processed
